* {
  margin:0px;
  padding:0px;
}

.box {
  background-color: BurlyWood;
  height: 160px auto;
  text-align: center;
  padding-top: 50px;
  font-family: Monaco, "Times New Roman";
  font-size: 3em;
  box-shadow: 10px, 10px, 10px, 10px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
